$space: 1rem;

*,
*:before,
*:after {
    box-sizing: border-box;
}

.home-page {
    .logo-zone {
        display: flex;
        position: relative;
        transform: translateY(-50%);
        width: 100%;
        max-height: 10%;
        justify-content: center;
        padding-top: 60%;

        h1 {
            position: fixed;
            top: 45%;
            color: #fefefe;
            font-size: 15rem;
            font-family: 'Bold';
            font-weight: 400;
        }

        img {
            opacity: 0;
            width: auto;
            height: 11rem;
            animation: rollIn 1s linear both;
            animation-delay: 1.3s;
            margin-bottom: -2px;
            padding-right: 2px;
        }
    }


    .login-form {
        opacity: 0;
        transition: all 250ms linear 4s;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -60px;
        margin-left: -185px;
        display: block;
        animation: fadeIn 1.5s 2.5s;
        animation-fill-mode: forwards;
        clear: both;

        form {
            width: 330px;
            height: 350px;
            display: flex;
            padding: 2rem;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #fefefe;
            border-radius: 10px;
            margin: ($space * 2) ($space * 2) 0;
            box-shadow: 0 0 $space rgba(0, 0, 0, 0.03),
                0 $space (
                $space * 2) rgba(0, 0, 0, 0.05),
                0 ($space * 2) ($space * 4) rgba(0, 0, 0, 0.05),
                0 ($space * 4) ($space * 8) rgba(0, 0, 0, 0.05
            );

            a, p {
                font-family: 'Light';
                font-weight: 600;
                margin: 1rem 0 1rem 0;
                text-align: center;
                color: #202125;
                padding: 0 2rem 0 2rem;
            }

            .signIn {
                font-family: 'Medium';
                padding: 1rem;
                width: 25rem;
                margin-top: 1rem;
                border-radius: 25px;
                text-transform: uppercase;
                border: none;
                background: linear-gradient(90deg, #25f497 0%,#12c9c3 40%, #059bf3 100%);
                color: #fefefe;
            }

            .createAccount {
                font-family: 'Medium';
                color: #fefefe;
                padding: 1rem;
                width: 25rem;
                margin-top: 3rem;
                border: none;
                border-radius: 25px;
                text-transform: uppercase;
                background: linear-gradient(90deg, #25f497 0%,#12c9c3 40%, #059bf3 100%);
            }

            input {
                padding: .8rem;
                border-radius: 3px;
                width: 25rem;
                margin: .8rem;
                font-family: 'Medium';
                opacity: 0.5;
            }
    }
}
}

@media only screen and (max-width: 600px) {
    .home-page {
        .logo-zone {
            h1 {
                position: fixed;
                top: 80%;
                color: #fefefe;
                font-size: 9rem;
                font-family: 'Bold';
                font-weight: 400;
            }

            img {
                opacity: 0;
                width: auto;
                height: 7rem;
                animation: rollIn 1s linear both;
                animation-delay: 1.3s;
                margin-bottom: -2px;
                padding-right: 2px;
            }
        }

        .login {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -80px;
            margin-left: -185px;
        }
    }
}