$space: 1rem;

.form-zone {
    display: flex;
    transform: translateY(-50%);
    position: absolute;
    width: 100%;
    top: 49%;
    justify-content: center;

    h1 {
        font-family: 'Bold';
        font-weight: 600;
        padding: 6rem;
        text-align: center;
        color: #444444;
        padding: 0 2rem 0 2rem;
        text-transform: uppercase;
    }

    .signup-form {
        width: 800px;
        height: 680px;
        display: flex;
        padding: 4rem;
        align-items: right;
        justify-content: center;
        background-color: #fefefe;
        border-radius: 10px;
        margin: ($space * 2) ($space * 2) 0;
        box-shadow: 0 0 $space rgba(0, 0, 0, 0.03),
            0 $space (
            $space * 2) rgba(0, 0, 0, 0.05),
            0 ($space * 2) ($space * 4) rgba(0, 0, 0, 0.05),
            0 ($space * 4) ($space * 8) rgba(0, 0, 0, 0.05
        );

    ul {
        width: 40rem;
        padding: 2rem;
        margin: 0;

        label {
            font-family: 'Light';
            font-weight: 600;
            margin: 1rem 0 1rem 0;
            text-align: center;
            color: #202125;
            padding: 0 2rem 0 2rem;
            text-transform: uppercase;
        }

        .age {
                padding-right: 4.5rem;
            }

        li {
            padding: .5rem;
            list-style: none;
            margin-bottom: 10px;
            overflow: hidden;
            display: block;
            position: relative;
            opacity: 0;
            animation: fadeInUp 1.5s 1.5s;
            animation-fill-mode: forwards;
            clear: both;
        }

        button {
            position: absolute;
            right: 5rem;
            padding: 1rem;
            width: 10rem;
            margin-top: 3rem;
            border: none;
            border-radius: 25px;
            text-transform: uppercase;
            background: linear-gradient(90deg, #25f497 0%, #12c9c3 40%, #059bf3 100%);
            font-family: 'Medium';
            color: #fefefe;
            text-decoration: none;
        }
    }
}
}