.chat-page {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .messageList {
        padding:0 20vw 5vw 20vw;
        height: 90vh;
    overflow: scroll;
    }

    h3{
        color: #444;
        padding: 1rem;
        text-align: center;
    }
    
    .messageContainer{
    position: absolute;
    align-self: center;
    bottom: 1vh;
    width: 75vw;

    .messageInputZone {
        display: flex;
        justify-content: center;
    
    input {
                padding: .8rem;
                background: #fefefe;
                border-color: #44444437;
                border-radius: 3px;
                width: 40vw;
                margin: .8rem;
                font-family: 'Medium';
                font-weight: 600;
                text-transform: uppercase;
                color: #444444;
                opacity: 0.8;
            }

    button {
        align-self: center;
        height: 5vh;
        width: 5vw;
        background-color: #637dec;
    }
}
    }
}

