.page {
    width: 100%;
    height: 100%;
    position: absolute;
}

.container {
    width: 100%;
    will-change: contents;
    min-height: 566px;
    position: absolute;
    opacity: 0;
    padding-top: 5%;
    padding: 0 auto;
    z-index: 1;
    transform-style: preserve-3d;
    animation: fadeIn 0s forwards;
    overflow-y: hidden;
}

.login-page, .home-page {
    transform-style: preserve-3d;
    animation: fadeIn 1s forwards;
    animation-delay: 1s;

}
