.nav-bar2 {
        opacity: 0;
    }
.nav-bar {
    position: absolute;
    top: 0%;

    h1 {
        position: fixed;
        top: -3%;
        padding-left: 3rem;
        color: aliceblue;
        font-size: 5rem;
        font-family: 'Bold';
        font-weight: 400;
        animation: fadeIn 1s forwards;

        img {
            opacity: 0;
            width: auto;
            height: 4rem;
            animation: rollIn 1s linear both;
            animation-delay: 1.3s;
            margin-bottom: -2px;
            padding-right: 2px;
        }
    }

    nav {
        height: 8rem;
        width: auto;
        display: flex;
        position: absolute;
        top: 2rem;
        left: 60%;
        color: aliceblue;
        justify-content: space-around;

        a {
            text-decoration: none;
            color: aliceblue;
            padding: 0 2rem 0 2rem;
            margin-left: 2rem;
            text-align: center;

            .icon {
                align-self: center;
                height: 3rem;
                width: auto;
                transition: all 0.3s ease-out;
            }

            &:hover {
                color: #fefefe;

                svg {
                    opacity: 0;
                }

                &:after {
                    opacity: 1;
                }
            }

            &:after {
                content: '';
                font-size: 9px;
                letter-spacing: 2px;
                position: relative;
                bottom: 0;
                display: block;
                width: 100%;
                text-align: center;
                opacity: 0;
                -webkit-transition: all 0.3s ease-out;
                transition: all 0.3s ease-out;
            }
        }

        a.chat-link {
            &::after {
                font-family: 'Medium';
                content: 'CHAT';
            }
        }

        a.profile-link {
            &::after {
                font-family: 'Medium';
                content: 'PROFILE';
            }
        }

        a.following-link {
            &::after {
                font-family: 'Medium';
                content: 'FOLLOWING';
            }
        }
    }

}

@media only screen and (max-width: 600px) {
    .nav-bar2 {
        opacity: 1;
        position: absolute;
        top: 0vh;
    }
    .nav-bar {
        position: absolute;
        height: 8rem !important;
        top: auto;
        bottom: 0vh;

        nav {
            height: 8rem;
            width: auto;
            display: flex;
            position: absolute;
            left: calc(1vw);
            color: aliceblue;
            justify-content: space-evenly;

            a {
                text-decoration: none;
                color: aliceblue;
                padding: 0 2rem 0 2rem;
                margin-left: 2rem;
                text-align: center;

                .icon {
                    align-self: center;
                    height: 3rem;
                    width: auto;
                    transition: all 0.3s ease-out;
                }

                &:hover {
                    color: #fefefe;

                    svg {
                        opacity: 0;
                    }

                    &:after {
                        opacity: 1;
                    }
                }

                &:after {
                    content: '';
                    font-size: 9px;
                    letter-spacing: 2px;
                    position: relative;
                    bottom: 0;
                    display: block;
                    width: 100%;
                    text-align: center;
                    opacity: 0;
                    -webkit-transition: all 0.3s ease-out;
                    transition: all 0.3s ease-out;
                }
            }

            a.chat-link {
                &::after {
                    font-family: 'Medium';
                    content: 'CHAT';
                }
            }

            a.profile-link {
                &::after {
                    font-family: 'Medium';
                    content: 'PROFILE';
                }
            }

            a.following-link {
                &::after {
                    font-family: 'Medium';
                    content: 'FOLLOWING';
                }
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    .nav-bar2 {
        opacity: 1;
        position: absolute;
        top: 0vh;
    }
    .nav-bar {
        position: absolute;
        height: 8rem !important;
        top: auto;
        bottom: 0vh;

        nav {
            height: 8rem;
            width: 100%;
            display: flex;
            position: absolute;
            left: calc(2vw);
            color: aliceblue;
            justify-content: space-evenly;

            a {
                text-decoration: none;
                color: aliceblue;
                padding: 0 2rem 0 2rem;
                margin-left: 2rem;
                text-align: center;

                .icon {
                    align-self: center;
                    height: 3rem;
                    width: auto;
                    transition: all 0.3s ease-out;
                }

                &:hover {
                    color: #fefefe;

                    svg {
                        opacity: 0;
                    }

                    &:after {
                        opacity: 1;
                    }
                }

                &:after {
                    content: '';
                    font-size: 9px;
                    letter-spacing: 2px;
                    position: relative;
                    bottom: 0;
                    display: block;
                    width: 100%;
                    text-align: center;
                    opacity: 0;
                    -webkit-transition: all 0.3s ease-out;
                    transition: all 0.3s ease-out;
                }
            }

            a.chat-link {
                &::after {
                    font-family: 'Medium';
                    content: 'CHAT';
                }
            }

            a.profile-link {
                &::after {
                    font-family: 'Medium';
                    content: 'PROFILE';
                }
            }

            a.following-link {
                &::after {
                    font-family: 'Medium';
                    content: 'FOLLOWING';
                }
            }
        }
    }
}